*.classpath
*.project
*.jsdtscope
*.prefs
*.component
bootAdmin-dao/.settings/
bootAdmin-web/.settings/
bootAdmin-dao/.gitignore
bootAdmin-domain/.gitignore
bootAdmin-service/.gitignore
bootAdmin-util/.gitignore
bootAdmin-web/.gitignore
bootAdmin-dao/target
bootAdmin-domain/target
bootAdmin-service/target
bootAdmin-util/target
bootAdmin-web/logs
bootAdmin-web/target
bootAdmin-domain/.settings
bootAdmin-service/.settings
bootAdmin-util/.settings
bootAdmin-web/userimg
*.MF
.mymetadata
org.eclipse.wst.jsdt.core.javascriptValidator.launch
/.idea/.name
/.idea/artifacts/bootAdmin_web_war.xml
/.idea/artifacts/bootAdmin_web_war_exploded.xml
/.idea/compiler.xml
/bootAdmin-dao/bootAdmin-dao.iml
/bootAdmin-domain/bootAdmin-domain.iml
/bootAdmin-service/bootAdmin-service.iml
/bootAdmin-util/bootAdmin-util.iml
/bootAdmin-web/bootAdmin-web.iml
/bootAdmin.iml
/bin/

.idea/