<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ParameterMapper">

	<select id="getAlllistPage" parameterType="com.sound.util.PageInfo" resultType="Map">
		select p.id, p.version, p.value_url from parameter p where 1 = 1 
		<if test="formData.version != null and formData.version != '' ">
			and p.version like CONCAT('%',#{formData.version},'%') 
		</if>
		order by p.id 
	</select>
	
	<select id="getValueByid" parameterType="com.sound.util.FormData" resultType="Map">
		select p.id, p.version, p.value, p.value_url from parameter p where p.id = ${id}
	</select>
	
	<insert id="insertValue" useGeneratedKeys="true" keyProperty="id" parameterType="com.sound.util.FormData">
		insert into parameter (version, value, value_url) values(#{version}, #{value}, #{value_url})
	</insert>
	
	<update id="updateValue" parameterType="com.sound.util.FormData">
		update parameter p set p.version = #{version}, p.value = #{value}, p.value_url = #{value_url} where p.id =${id}
	</update>
	
	<delete id="deleteValue" parameterType="com.sound.util.FormData">
		delete from	parameter where id = ${id}
	</delete>
	
	<select id="getValueByVersion" parameterType="com.sound.util.FormData" resultType="Map">
		select p.id, p.version, p.value_url from parameter p where p.version = #{version}
	</select>
	
</mapper>